<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/asserts/layui/css/layui.css}">
    <link rel="stylesheet" href="" th:href="@{/asserts/css/layui-theme-custom.css}">
    <link rel="stylesheet" href="../css/mystyle.css" th:href="@{/asserts/css/mystyle.css}">
    <title>添加文章分类</title>
    <style type="text/css">


    </style>
</head>
<body style="padding-right: 50px;padding-top: 20px;">
<form class="layui-form" id="addType" action="" lay-filter="example">


    <div class="layui-form-item">
        <label class="layui-form-label">类型名称</label>
        <div class="layui-input-inline layer-inputs">
            <input type="text" name="name" id="name" value="" placeholder="请输入文章类型名称" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请输入文章类型名称</div>
    </div>

    <div class="layui-form-item" style="margin-left: 50px;">
        <input type="hidden" name="id" id="id" value="">
        <input type="hidden" name="request_url" id="request_url" value="">
        <button class="layui-btn" id="execute" lay-submit="execute" lay-filter="execute"><i class="layui-icon layui-icon-form"></i>保存</button>
    </div>


</form>
<script type="text/javascript" th:src="@{/asserts/js/jquery-3.3.1.js}"></script>
<script src="../layui/layui.js" th:src="@{/asserts/layui/layui.js}"></script>
<script th:src="@{/asserts/js/myjs.js}"></script>


<script>
    //JavaScript代码区域
    layui.use(['element', 'form', 'table', 'jquery'], function () {
    });


</script>
</body>
</html>